:root {
    font-size: 16px;
    line-height: 24px;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    color: #000d47;
    background: #f5f5f5;
}
a {
    color: #42424e;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table {
    margin: 1rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2f3293;
    line-height: 2rem;
    word-wrap: break-word;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table td {
    padding: 1rem .8rem;
    border-bottom: 1px solid #eee;
}
table tr:last-child td {
    border-bottom: none;
}
code {
    word-wrap: break-word;
}
.block {
    margin: 1rem 0;
    display: block;
    line-height: 2rem;
    font-family: monospace;
    border-bottom: 2px solid #ff5c61;
    background: #f1f1f1;
    overflow: auto;
}
.block .line {
    white-space: pre;
    display: block;
}
.block .line-number {
    line-height: 2rem;
    display: inline-block;
    background: #e8e8e8;
    padding: 0 .6rem 0 .8rem;
}
.block .highlight {
    background: #e4d1d2;
}
.block .highlight .line-number {
    background: #d8bbbc;
}
.container {
    max-width: 80rem;
    width: 90%;
    margin: 1rem auto;
}
.section {
    background: #fff;
    margin: 1rem 0;
    padding: 1rem 2rem;
}
.frame {
    border-bottom: 1px solid #eee;
}
.frame:last-child {
    border-bottom: none;
}
.frame-header {
    border-left: 2px solid transparent;
    cursor: pointer;
    padding: 1rem .8rem;
}
.frame-header:hover,
.frame-header--open {
    background: #f9f9f9;
    border-left: 2px solid #b7d5ec;
}
.frame-body {
    display: none;
}
.frame-body--open {
    display: block;
}
.quiet {
    color: #aaa;
}
.quiet code {
    color: #555;
}
